name: inception

services:
  mariadb:
    build: ./requirements/mariadb                                     # Point to the folder containing the Dockerfile
    container_name: mariadb                                           # Name the container
    image: mariadb                                                    # Name the image
    restart: always                                                   # If the container crashes, always restart it
    env_file: .env                                                    # Retrieve envs from specific env file
    secrets:
      - db_password
      - db_root_password
    volumes:
      - mariadb_data:/var/lib/mysql                                   # Create a persistent storage volume
    networks:
      - inception                                                     # Connect the container to a shared network

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    image: wordpress
    restart: always
    env_file: .env
    secrets:
      - db_password
      - db_root_password
      - credentials
    depends_on:
      - mariadb
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    image: nginx
    restart: always
    env_file: .env
    depends_on:
      - wordpress
    ports:
      - "443:443"
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception


volumes:
  mariadb_data:
    name: mariadb_data
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/jalombar/data/mariadb                        # The volume mariadb (outside the container) is connected to /var/lib/mysql (inside)                                              

  wordpress_data:
    name: wordpress_data
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/jalombar/data/wordpress

networks:
  inception:
    name: inception
    driver: bridge

secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt
  credentials:
    file: ../secrets/credentials.txt
